<div class="body">
  <h2 class="text-center">Dự đoán trời mưa</h2>
  <div class="mt-5 ml-2">
    <h5>Biểu đồ tương quan</h5>
    <div class="d-flex">
      <div>
        <iframe
          src="http://localhost:3000/d-solo/hrOlFdOVk/rain?orgId=1&refresh=1m&from=1670238111759&to=1670259711759&panelId=4"
          width="1000" height="700" frameborder="0"></iframe>
      </div>
      <div class="ml-5">
        <div class="mb-4">
          <h4> Features:</h4>
        </div>
        <div *ngFor="let i of features" class="field-checkbox">
          <p-checkbox  name="group_features" [value]="i" [label]="i" [(ngModel)]="featuresDrop"></p-checkbox>
        </div>
        <div>
          <strong> Accuracy: {{accuracy}}  - MseLoss: {{mseLoss}}</strong>
        </div>
      </div>
      <div class="ml-5">
        <button pButton type="button" label="Drop" (click)="getAccuracy(featuresDrop)"></button>
      </div>
    </div>
  </div>


  <div class="ml-2 mt-2">
    <h5>Biểu đồ dự đoán</h5>
    <div class="d-flex">
      <div>
        <iframe
          src="http://localhost:3000/d-solo/hrOlFdOVk/rain?orgId=1&refresh=1m&from=1670237250458&to=1670258850458&panelId=2"
          [width]="withWindow" height="500" frameborder="0"></iframe>
      </div>

    </div>
  </div>
</div>



